---
//Astro Image uses sharp, which apparently the CF adapter can't handle
import "../../styles/global.css"
---

<nav class="flex justify-between my-[1.5rem] mx-[1rem] md:mx-[2.375rem]">
    <div>
        <a href="/"><img alt={"Company Logo"} src="/alt-logo.png" class="max-h-[50px] w-auto"/></a>
    </div>
    <ul class="flex items-center">
        <li class="bg-[#4473FF] rounded-md py-[0.75rem] px-[1.5rem] text-white tablet:py-[0.75rem] hover:bg-[#4473ffd1]" >
            <a href="/dashboard" class="text-[1rem]">
                Dashboard
            </a>
        </li>
    </ul>
</nav>